<table class="product-table">
  <thead>
    <tr>
      <th>Handle</th>
      <th>Title</th>
      <th>Description</th>
      <th>Tags</th>
      <th>Collection</th>
      <th>Brand</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "product", :collection => products %>
  </tbody>
</table>
