<tr class="<%= cycle "odd", "even" -%>">
  <%= fields_for variant do |fields| %>
    <td>  
      <%= fields.text_field :sku %>
    </td>
    <td>  
      <%= fields.text_field :price %>
    </td>
  <% end %>
</td>