<table class="variant-table">
  <thead>
    <tr>
      <th>Handle</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "variant", :collection => variants %>
  </tbody>
</table>
