<div id="collections" data-role="page">
  <div data-role="header">
    <h1>Collections</h1>
  </div>
  <div id="collections" data-role="content">
    <ul data-role="listview">
      <%= render :partial => "collection", :collection => @company.collections %>
    </ul>
  </div>
  <%= render :partial => "footer" %>
</div>