<div id="prodiucts" data-role="page">
  <div data-role="header">
    <h1>Products</h1>
  </div>
  <div id="collections" data-role="content">
    <%= render :partial => "product", :collection => @company.collections.first.products %>  
  </div>
  <%= render :partial => "footer" %>