<div id="prodiucts" data-role="page">
  <div data-role="header">
    <h1>Products</h1>
  </div>
  <div id="collections" data-role="content">
    <ul data-role="listview" >
        <%= render :partial => "product", :collection => @company.collections.first.products %>  
      </ul>
  </div>
  <%= render :partial => "footer" %>