<div id="products" data-role="page">
  <div data-role="header">
    <h1>&nbsp;</h1>
  </div>
  <div data-role="content">
    <ul data-role="listview" data-filter="true" data-inset="true">

    </ul>
  </div>
  <%= render :partial => "application/footer" %>
</div>

<%= render :partial => "edit_variant" %>
