<div id="collections" data-role="page">
  <div data-role="header">
    <h1>Upload</h1>
  </div>
  <div id="collections" data-role="content">
    upload stuff here
  </div>
  <%= render :partial => "footer" %>
</div>