<div id="stock-edit" data-role="dialog">
  <div data-role="header">
    <h1 id="stock-title"></h1>
  </div>
  <div data-role="content">
    <input type="number" name="inventory" id="new-stock-level" />      
    <div data-role="controlgroup" data-type="horizontal">
      <div id="remove-stock" data-role="button" data-icon="minus" data-theme="b">&nbsp;</div>
      <div id="add-stock" data-role="button" data-icon="plus" data-theme="b">&nbsp;</div>    
      <a href="#" data-rel="back" id="update-stock" data-role="button" data-icon="check" data-theme="b">Update</a>    
    </div>

  </div>
</div>