<div id="products" data-role="page">
  <div data-role="header">
    <h1>&nbsp;</h1>
  </div>
  <div id="product-list" data-role="content">
  </div>
  <%= render :partial => "application/footer" %>
</div>

<%= render :partial => "edit_variant" %>
