<div id="collections" data-role="page">
  <div data-role="header">
    <h1>Brands</h1>
  </div>
  <div data-role="content">
    <ul data-role="listview">
      <%= render :partial => "brand", :collection => @brands %>
    </ul>
  </div>
  <%= render :partial => "application/footer" %>
</div>