<li class="stock">
  <%= link_to variant_text(variant), "#stock-edit",
    { "data-rel" => "dialog", "data-transition" => "pop", "data-variant-id" => variant.id, "data-variant-inventory" => variant.inventory } %>
  <div class="ui-li-count inventory"><%=variant.inventory%></div>
</li>
