<li>
  <%= variant.code %>
  <% if variant.options.empty? %>
  <%= variant.sku %>
  <% else %>
  <% variant.options.each do |option| %>
    <%= option.value %>
  <% end %>
  <% end %>

  <div class="ui-li-count">
    <%= variant.inventory %>
  </div>
</li>